@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
.header {
  font-family: "Roboto Slab", serif;
}
.loginArrow {
  transition: transform 0.7s ease-in-out;
}
.loginArrow:hover {
  transform: rotate(45deg);
}
