.input {
  width: 100%;
  margin: 1% 0;
  font-size: 1.2rem;
  padding: auto 10px;
  border-radius: 28px;
  border-width: 0;
  padding-left: 3%;
  padding-right: 3%;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 1.8rem;
  color: white;
}
