@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.brandName{
    font-family: 'Roboto Slab', serif;
}

.signUpArrow{
    transition: transform .7s ease-in-out;
  }
.signUpArrow:hover {
    transform: rotate(45deg);
  }